@font-face {
  font-family: 'rubik';
  src: "../fonts/Rubik-Regular.ttf";  
}
@font-face {
  font-family: 'rubik-bold';
  src: "../fonts/Rubik-Bold.ttf";  
}
@font-face {
  font-family: 'rubik-light';
  src: "../fonts/Rubik-Light.ttf";  
}